name: Cypress CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: npm install
    - name: Run oxc
      run: npm run check

  cypress-tests:
    runs-on: ubuntu-latest
    services:
      mailpit:
        image: axllent/mailpit
        ports:
          - 8025:8025
          - 1025:1025
    strategy:
      fail-fast: false # https://github.com/cypress-io/github-action/issues/48
      matrix:
        containers: [ 1 ]
    steps:
    - uses: actions/checkout@v4
    - name: Cypress run
      uses: cypress-io/github-action@v6
      with:
        build: npm run build
        wait-on: 'http://localhost:8025'
        record: false
